rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuthenticated() {
    	return request.auth != null;
    }
  	function isAdmin() {
    	return isAuthenticated() &&
      exists(/databases/$(database)/documents/administrators/$(request.auth.uid));
    }
    match /users/{userid} {
    	allow read, write;
    }
    match /restaurants/{restaurantid} {
    	allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
    match /reviews/{reviewid} {
    	allow read, write: if isAuthenticated();
    }
    match /administrators/{adminid} {
    	allow read: if isAuthenticated();
    	allow write: if false;
    }
  }
}