<div class="register-form">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="register-title">Register</h1>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email">
          <span class="error-message" *ngIf="email.touched && email.invalid && email.errors?.['required']">Enter your email address.</span>
          <span class="error-message" *ngIf="email.touched && email.invalid && email.errors?.['email']">Enter correct email address.</span>
          <span class="error-message" *ngIf="form.get('email')?.hasError('emailTaken')">Email already taken.</span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password (minimum 6 characters)</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password">
          <span class="error-message" *ngIf="password.touched && password.invalid && password.errors?.['required']">Enter your password.</span>
          <span class="error-message" *ngIf="password.touched && password.invalid && password.errors?.['minlength']">Enter correct password.</span>
        </div>
        <button type="submit" class="btn" [disabled]="!form.valid">Submit</button>  
      </form>
</div>
<div class="register-container">
    <p>Already have an account? <a (click)="redirectLogin()" style="cursor: pointer; color: #0077B5;">Login here</a></p>
</div>
