<div class="restaurants">
    <div class="restaurants-container">
      <div class="restaurant" *ngFor="let restaurant of restaurantsData">
        <div class="restaurant-info" (click)="viewRestaurant(restaurant.name)">
          <div class="image-wrapper">
            <img src="/assets/{{ restaurant.image}}" class="restaurant-image">
          </div>
          <p class="name">{{ restaurant.name }}</p>
          <p class="city">{{ restaurant.city }}</p>
        </div>
      </div>
    </div>
  </div>