.restaurant-container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    min-height: calc(100vh - 56px);
}

.title-container{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
}

.restaurant-title{
    width: 100%;
    max-width: 1280px;
}

.name{
    padding: 0 24px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 6px;
}

.address{
    padding: 0 24px;
}

.restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 80%;
    background-color: #f5f5f5;
}

.image-wrapper{
    max-height: 300px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.restaurant-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info-colums{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

.info-colum{
    background-color: white;
    width: 30%;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 24px;
}

.reviews{
    background-color: white;
    width: 100%;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 24px;
}

.review{
    padding: 12px;
}

.review:not(:first-child){
    border-top: 1px solid #d9d9d9;
}

.rate{
    display: flex;
}

.rating-icon{
    height: 24px;
    margin: 2px;
}

.reviews-header{
    display: flex;
    justify-content: space-between;
}

.reviews-number{
    display: flex;
}

.review-info{
    font-size: 28px;
    font-weight: 600;
    margin-right: 12px;
}

.number{
    color: #808080;
}

.review-button{
    background-color: black;
    margin-bottom: 1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.review-button-info{
    margin: 10px 20px 10px 20px;
    font-weight: 600;
    color: white;
}

@media screen and (max-width: 768px) {
    .info-colums{
        flex-direction: column;
    }
    .info-colum{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .image-wrapper{
        width: 100%;
        height: 200px;
    }
    .restaurant-info{
        width: 100%;
    }
    .info-colum, .reviews{
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
    .review-button-info{
        margin: 10px 15px 10px 15px;
    }
}